<p>登録メールアドレス： <%= @resource.email %></p>

<p>パスワードを変更する場合は下のリンクをクリックだ！！</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>そもそもパスワード忘れるとかまじカンベン(´Д` )</p>
